@import "tailwindcss";
.rotate-y-0 {
    transform: perspective(1200px) rotateY(0deg);
}

.rotate-y-180 {
    transform: perspective(1200px) rotateY(180deg);
}

.transform-gpu {
    transform-style: preserve-3d;
}